asgiref==3.5.0
astroid==2.9.3
backports.zoneinfo==0.2.1
Django==3.2.12
django-extensions==3.1.5
greenlet==1.1.2
inflect==5.4.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
mysqlclient==2.1.0
platformdirs==2.5.1
pylint==2.12.2
pytz==2022.1
sqlacodegen==2.3.0
SQLAlchemy==1.4.32
sqlautocode==0.7
sqlparse==0.4.2
toml==0.10.2
typing-extensions==4.1.1
wrapt==1.13.3
